<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img alt="Logo" height="80" loading="lazy"
                     th:src="@{/images/logo.png}">
            </a>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER_ADMIN')">

                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <a class="nav-link" th:href="@{/api/v1/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/api/v1/categories}">Categories</a>
                    </li>

                </ul>
            </div>

            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" th:href="@{/api/v1/cart}">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <!-- Avatar -->
            <div class="dropdown">
                <a aria-expanded="false" class="dropdown-toggle d-flex align-items-center hidden-arrow"
                   data-toggle="dropdown" id="navbarDropdownMenuAvatar" style="margin-right: 60px" type="button">
                    <img alt="Black and White Portrait of a Man" class="rounded-circle" height="25"
                         loading="lazy" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"/>
                </a>
                <ul aria-labelledby="navbarDropdownMenuAvatar" class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" th:href="@{/api/v1/profile}">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{/api/v1/profile/settings}">Settings</a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item" style="color:#d80000">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>

            <!-- Right elements -->
        </div>
    </div>
        <!-- Container wrapper -->
</nav>
<!-- Navbar -->
