<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-12/assets/css/login-12.css">
    <title>password</title>
    <style>
        .error{
            color:red;
            font-size: 13px;
            margin-top:-15px;
        }
        .h-custom {
            height: 100vh !important;
        }
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }
        .card-registration .select-arrow {
            top: 13px;
        }
    </style>
</head>
<body>

<!-- Navigation-->
<!--<div th:replace="fragments/navbar :: navbar('no', 'yes', 'yes', 'no', 'no', 'no')"></div>-->

<section class="h-100 h-custom" style="background-color: #aec3d8;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12" style="height:100%">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="p-5">

                                    <div class="container" style="margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-5">
                                                    <h6 class="display-6 fw-bold text-center">Change Password</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-lg-10 col-xl-8">
                                                <div class="row gy-5 justify-content-center">
                                                    <div class="col-12 col-lg-5">
                                                        <div th:if="${param.success}">
                                                            <div class="alert alert-success" role="alert">
                                                                Password changed successfully.
                                                            </div>
                                                        </div>
                                                        <div th:if="${param.wrongPassword}">
                                                            <div class="alert alert-danger" role="alert">
                                                                Wrong password.
                                                            </div>
                                                        </div>
                                                        <div th:if="${param.misMatchPass}">
                                                            <div class="alert alert-danger" role="alert">
                                                                new password and confirm password must be the same.
                                                            </div>
                                                        </div>
                                                        <form action="#" th:action="@{/api/v1/profile/settings/password}" th:object="${passwordDTO}" method="post">
                                                            <div class="row gy-3 overflow-hidden">
                                                                <div class="col-12">
                                                                    <div class="form-floating mb-3">
                                                                        <input type="password" class="form-control border-0 border-bottom rounded-0" name="oldpassword" id="oldpassword"
                                                                               th:field="*{oldPassword}" placeholder="old password" required>
                                                                        <label for="oldpassword" class="form-label">Old Password</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-floating mb-3">
                                                                        <input type="password" class="form-control border-0 border-bottom rounded-0" name="newpassword" id="newpassword"
                                                                               th:field="*{newPassword}" placeholder="new password" required>
                                                                        <label for="newpassword" class="form-label">New Password</label>
                                                                    </div>
                                                                    <div th:if="${#fields.hasErrors('newPassword')}"
                                                                         th:errors="*{newPassword}"
                                                                         class="error"></div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-floating mb-3">
                                                                        <input type="password" class="form-control border-0 border-bottom rounded-0" name="confirmpassword" id="confirmpassword"
                                                                               th:field="*{confirmPassword}" placeholder="confirm password" required>
                                                                        <label for="confirmpassword" class="form-label">Confirm Password</label>
                                                                    </div>
                                                                    <div th:if="${#fields.hasErrors('confirmPassword')}"
                                                                         th:errors="*{confirmPassword}"
                                                                         class="error"></div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="d-grid">
                                                                        <button class="btn btn-lg btn-dark rounded-0 fs-6" type="submit">Change</button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="d-grid">
                                                                        <a th:href="@{/api/v1/profile/settings}" class="btn btn-lg btn-secondary rounded-0 fs-6" type="submit">Settings</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

</body>
</html>